<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fc2311c6-1451-4b2a-96f2-c9895e7c5fd1" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://api.openweathermap.org" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings id="d2aa3482-7687-4984-8734-7bf88432837a"><con:setting id="fc2311c6-1451-4b2a-96f2-c9895e7c5fd1fileName">http%3A%2F%2Fapi.openweathermap.org</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://api.openweathermap.org</con:endpoint></con:endpoints></con:interface>
